<h3>
    {{ leyenda }} - {{porcentaje}}

</h3>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-plus"></i></button>

    </div>
    <input #txtporcentaje type="number" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="Onchange($event)" min="1" max="100">

    <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-minus"></i></button>
</div>